<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitterclone | Sign up</title>
    <style>
        #wrap {display: flex; justify-content: space-around; width: 1200px; margin: auto}
        #signup {font-size: 2.5em}
        p {display: flex; font-size: 1.5em}
    </style>
</head>
<body>
    <div id="wrap">
        <div id="signup">
            Welcome to Twitterclone!
            <br/>
            Sign up here to become a part of the better Twitter!
            <hr>
            Already have an account? <a href='/login/'>Log in!</a>
        </div>
        <form action='' method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='Submit'>
        </form>
    </div>
</body>
</html>