<style>
    form {display: flex; flex-direction: column; margin: 0 auto; width: 800px}
    p {display: flex; flex-direction: column}
    p label {font-weight: bold; font-size: 60px; color: rgb(0, 225, 255)}
    p textarea {align-self: center; margin: 20px; width: 600px; height: 400px; font-size: 20px}
    #submit {border: none; outline: none; align-self: flex-end; width: 100px; height: 40px; background-color: rgb(0, 225, 255); color: white; font-size: 15px}
</style>
{% include 'navbar.html' %}
<form action='' method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <input id='submit' type='submit' value='Submit'>
</form>